@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.banner{
    background-image: url(../../images/banner_image.png);
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner__title{
    color:white;
}

.banner__title__topic{
    color: white;
}

.banner__title__topic__training{
    margin-right: 12px;
}

.banner__title__topic__separator{
    margin-right: 4px;
}

/*--------------
 Media Queries 
 ---------------*/

 /* Mobile & Tablet Devices */

 @media only screen and (max-width: 688px), only screen and (max-width: 992px) {
    .banner{
        height: 154px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
 /*--------------
 Media Queries End
 -----------------*/